```gitignore
# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# Environment variables
.env

# Django
db.sqlite3
*.log
media/
staticfiles/

# Python packaging
build/
dist/
*.egg-info/

# Testing
.coverage
htmlcov/
.pytest_cache/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# MySQL dump files
*.sql

#.env
.env
```